@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

$blue-color: #182955;
$red-color: #b7202f;

.offerspage{
    margin: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .offerspage-h2 {
        font-weight: bold;
        align-self: start;
        color: $blue-color;
        padding: 30px 0px;
        .highlight {
          color: $red-color;
        }
      }
    
      .offers-text {
        font-size: medium;
        font-family: 'Heebo', sans-serif;
        margin-bottom: 70px;
      }

      .offers-img{
        margin: 30px 0;
        object-fit: contain;
        width: 100%;
      }

      .img-list-sm{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-height: 140px;
        margin: 20px 20px;

        .img-list-sm-item{
            flex: 1;
            object-fit: contain;
            max-width: calc(100% / 7 - 10px);
          }

          span{
            font-size: 2vw;
            color: #553D8E;
            padding: 5px;
          }
      }

      .img-list-lg{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 10px 20px;

        .img-list-lg-item{
            flex: 1;
            object-fit: contain;
            max-height: 300px;
            max-width: calc(100% / 3 - 10px);
          }
      }

      
}


// Small screens (mobiles)
@media (max-width: 800px) {
    .offerspage {    
    margin: 20px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;

    .offerspage-h2 {
        align-self: center;
      }      
    }
  }
  